 .tabClass{
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    top: 1rem;
} 
*{
    background-color: white;
    margin: 10px;
    
    padding: 0;
}

.tabClass1{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0rem;
} 

table{
    width: 99%;
    position: relative;
    border-collapse: separate;
  border-spacing: 0 0px;
    border-radius: 10px;
    /* background-color: white; */
    border: solid lightcoral 1px;
    border-width: 1px 0;
}

 /* table {
    border-collapse: separate;
    border-spacing: 0 0.2em;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}  */